nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgba(146, 146, 146, 0.5);
  backdrop-filter: blur(10px);

  .bars {
    position: absolute;
    top: 45px;
    right: 40px;
    font-size: 25px;
    color: #fff;
  }

  .nav_contaianer {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;

    img {
      height: 80px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 20px;
        text-transform: uppercase;

        a {
          color: #fff;
          font-weight: bold;
          font-size: 18px;

          &:hover {
            border-bottom: 3px solid var(--brown-color);
          }
        }
      }

      button {
        background-color: var(--green-color);
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        text-transform: capitalize;
        margin: 0 20px;
        font-size: 18px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: var(--light-gray);
        }

        a {
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          transition: 0.2s;

          &:hover {
            color: var(--brown-color);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .nav_contaianer {
    .desktop_menu {
      display: none;
    }
  }

  .mobile_menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;

    li {
      margin: 20px 0;

      a {
        color: #fff;
      }
    }

    button {
      background-color: transparent;
      border: 2px solid var(--light-gray);
      border-radius: 10px;
      width: 120px;
      height: 40px;
      text-transform: capitalize;
      margin: 0 20px;
      font-size: 18px;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background-color: var(--light-gray);
      }

      a {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        transition: 0.2s;

        &:hover {
          color: var(--brown-color);
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .bars,
  .mobile_menu {
    display: none;
  }
}

@media (min-width: 1025px) {
  .bars,
  .mobile_menu {
    display: none;
  }
}
