@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

:root {
  --green-color: #254e1c;
  --light-gray: #c1ccd7;
  --brown-color: #a49052;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}